html, body {
  font-family: Arial, Helvetica, sans-serif;
}
.curtain {
    width: 100%; 
    height: 100vh; 
    overflow: hidden;
}
  .curtain__wrapper {
      width: 100%;
      height: 100%;
  }
  input[type=checkbox] {
      position: absolute; 
      cursor: pointer; 
      width: 90%; 
      height: 100%;
      z-index: 60; 
      opacity: 0;
  }
  /* No permite segundo click */
  input[type=checkbox]:not(:checked){
        pointer-events: none;
  } 
    
  /* Paneles abiertos */
  input[type=checkbox]:checked ~ div.curtain__panel--left {
        transform: translateX(0);
  }        
  input[type=checkbox]:checked ~ div.curtain__panel--right {
        transform: translateX(0);
  }     
    .curtain__panel {
        background: #cc0a0a;
        width: 100%; 
        height: 50%; 
        float: left; 
        position: relative; 
        z-index: 50; 
        transition: all 1s ease-out;
    }
    /* Paneles cerrados */
    .curtain__panel--left {
          background-image: url("https://i.imgur.com/oDmJHew.png");
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center bottom;
          margin-top: 0; 
        transform: translateY(-101%);
    }
    .curtain__panel--right {
          background-image: url("https://i.imgur.com/hQ7UIub.png");
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center top;
          margin-bottom: 0;
        transform: translateY(100%);
    }
 
  .home__screen {
 position: absolute; 
  z-index: 40; 
  width: 100%;
  height: 100%;
  }
/* Barra de navegación */
.topNav {
  overflow: hidden;
  background-color: #e9e9e9;
  margin-right:14px;
}
/* Barra de búsqueda */
.topNav input[type=text] {
  float: right;
  padding: 6px; 
  border: none;
  margin-top: 8px;
  margin-bottom: 8px;
  margin-right: 8px;
  font-size: 12px;
}
.topNav input[type=button] {
  float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-bottom: 8px;
  font-size: 12px;
}
/* Menu lateral */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 30;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
  }
  .sidenav a, .dropdown-btn { /* Opciones de búsqueda */
    padding: 6px 8px 6px 16px;
    font-size: 18px;
    color: #818181;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
    transition: 0.3s;
  } 
  .sidenav a:hover, .dropdown-btn:focus {
    color: #f1f1f1; 
  }
/* Submenu hijo de puta */
nav {
  position: absolute;
  left: -100px;
}
nav.show { /* Submenú abierto */
  background: #cc0a0a;
  left:0;
  width: 100%;
}
  .subMenu, .subm {
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 13px;
    color: #f1f1f1; 
    text-align: left;
    list-style: none;
    padding: 0;
    border: none;
    background: none;
    width: 100%;
  }  
.sidenav .closebtn {
    position: absolute;
    top: 0; 
    right: 25;  
    font-size: 36px;
    margin-left: 100px;
  } 
  .openbtn {
    margin-left: 10px;
} 




 

/* ACTUALIZACION MEL
*{
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
    color: black;
    margin: 0;
    padding: 0;
}

.container{
    background-color: #fb0505;
    width: 100%;
    height: 100%;
    max-width: 100%;
    height: 100vh;
    margin: auto;
    overflow: initial;
    display: flex;
    flex-direction: column;
}

.navigationMenu{
    position: -webkit-sticky;

    position: sticky;
    top: 0;
    background: url(images/navigation-bar.png) no-repeat;
    width: 90vw;
    max-width: 90vw;

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.pictureScreen{
    //background: url(images/picture-screen.png) no-repeat;
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
}

.pokemonInfo{
    display: flex;
    justify-content: flex-end;
    padding-right: 10%;
    padding-top: 5%;
}